<header>
  <div class="container-fluid">
    <div class="row">
      <div class="navbar navbar-dark bg-primary shadow-sm px-3">
        <div class="col-lg-6 col-md-8">

          <div class="navbar-brand row">

              <div class="col-lg-2 col-md-4">
              <i  class="fa fa-truck" style="font-size: 40px;"></i>
              <strong style="font-size: 30px; cursor: pointer;" routerLink="products">Flipkart</strong>
              </div>

              <div class="form-group col-lg-6 col-md-6 d-flex align-items-center">
                  <input type="text" class="form-control" [(ngModel)]="searchkey" (keyup)="searchtext($event)" placeholder="search products">

                  <span class="fa fa-search search-icon"></span>


              </div>


          </div>

        </div>

        <div class="col-lg-6 col-md-4">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Product
          </button>

          <button class="btn btn-secondary pl-2" routerLink="/login" *ngIf="!isloggedin">Login/Register</button>

          <button class="btn btn-secondary pl-2" *ngIf="isloggedin">Logout</button>

          <button routerLink="cart" class="btn btn-primary">
              <i style="font-size: 30px;" class="fa fa-cart-plus"></i>
              <div style="font-size:10px;" class="badge bg-danger">{{totalitem}}</div>
          </button>
        </div>

      </div>
  </div>

  </div>
</header>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="productform">

          <div class="input-group mb-3">
            <label class="form-label" for="title">Title</label>
            <input type="text" class="form-control" id="title" formControlName="title">
          </div>

          <div class="input-group mb-3">
            <label class="form-label" for="description">Product description</label>
            <textarea class="form-control" id="description" formControlName="description"></textarea>
          </div>

          <div class="input-group mb-3">
            <label class="form-label" for="price">Price</label>
            <input type="number" class="form-control" id="price" formControlName="price">
          </div>

            <!--image url-->
            <div class="input-group mb-3">
              <label for="profile" class="form-label">Profile Image url</label>
              <input type="url" class="form-control" id="profile" formControlName="image">
            </div>

            <select class="form-select" aria-label="Default select example" formControlName="category">
              <option selected>Please select the category</option>
              <option value="electronics">Electronics</option>
              <option value="jewelery">Jewelery</option>
              <option value="women's clothing">Women</option>
              <option value="men's clothing">Men</option>
            </select>

        </form>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addproduct()">Save changes</button>
      </div>
    </div>
  </div>
</div>






